@media screen and (max-width: 576px) {
  .flex {
    flex-direction: column;
  }

  .container {
    width: 100%;
  }

  #hero {
    margin-top: 50px;
    padding: 0 30px;
  }

  .list-item {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: center;
  }

  .btn3 {
    margin-top: 20px;
  }

  #about, #skill {
    margin: 40px 10px;
  }

  #about .about-container .about-info {
    width: 100%;
    flex-direction: column;
  }

  .about-container, .skill-container {
    width: 100%;
    margin: 0 auto;
  }

  #skill .skill-container {
    padding: 0 30px;
  }

  #skill .skill-text {
    width: 100%;
  }

  .skill-items {
    width: 70%;
  }

  /* Resume */
  .resume-head {
    margin: 30px 10px;
  }

  .resume-container {
    flex-direction: column;
    padding: 0 20px;
  }

  .resume-btn {
    text-align: center;
    margin: 50px;
  }

  /* Footer */
  footer {
    margin-top: 100px;
    width: 100%;
  }

  footer .footer-contain {
    flex-direction: column-reverse;
    padding: 10px 20px;
    margin-left: 50px;
    width: 100%;
  }
}
