*{
    margin: 0;padding: 0;box-sizing: border-box;
}
.hide{
    display: none;
}
body{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
/* utitlity class */
.flex{
    display: flex;
    align-items: center;
}
.container{
    width: 83%;
    max-width: 1140px;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}
.btn{
  background-color: #FD6E0A;
  color:#fff ;
  font-size: 20px;
  padding: 18px 35px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}

span{
    color: #FD6E0A;
}
/* Main CSS */
header{
    background-color: #FFF8F3;
}
nav{
    padding-top:51px ;
    display: flex;
    align-items: center;
}
header nav h2{
 font-size: 45px;
 font-weight: 900;
}
nav ul li a{
    margin:0 51px;
    color: #474747;
    font-size: 20px;
}
 
 

.hero-content , .hero-image{
    max-width: 585px;
}
#hero{
    background: url(images/developer.png) , url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
     
     
}
#hero .hero-image{
    vertical-align: middle;
    width: 100%;
}
.hero-content h3{
    font-size: 45px ;
    color: #474747;
    font-weight: 600;
}
.hero-content h2{
    font-size: 55px ;
    color: #181818;
    font-weight: 900;
    margin: 5px 0 20px 0;
}
.hero-content p{
    font-size: 18px ;
    color: #757575;
    line-height: 30px;
}
.hero-content button{
    margin: 30px 30px 110px 0;
}  

/* about */
#about{
    margin: 124px 0 340px 0;
}
.about-container , .skill-container{
    width: 827px;
    margin: 0 auto;
}
 .about-heading{
    text-align: center;
}
 .about-heading h2{
    font-size: 35px;
    color: #181818;
    font-weight: 800;
}
  .about-heading p{
    margin: 30px 0;
    font-size: 18px;
    color: #757575;
    line-height: 30px;
}
#about .about-container .about-info{
    width: 827px;
    display:flex;
     align-items: center;
    justify-content: space-around;
}
.sub-info h3{
 font-size: 20px;
 line-height: 30px;
 color: #757575;
 font-weight: 400;
}
.sub-info h2{
 font-size: 20px;
 line-height: 30px;
 color: #474747;
 font-weight: 700;
}
/* skills item */
 
.skill-items{
     margin-left: 24px;
     padding: 20px;
     border-radius: 10px; 
     box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}
.skill-items img{
    width: 44px;
   
}
.skill-items h2{
    margin: 30px 0 20px;
    font-size: 20px ;
    color: #181818;
    font-weight: 700;
}
.skill-items p{
    font-size: 14px;
    line-height: 25px;
    color: #757575;
}
/* resume */
 
.resume-container{
    display: flex;
    gap: 71px;
}

.resume-head{
    font-size: 35px;
    color: #181818;
    font-weight: 800;
    margin: 160px 0 150px;
    text-align: center;
}
.education h3, .experience h3{
 font-size: 30px;
 color: #474747;
 font-weight: 700;
 margin-bottom: 30px;
}
 
.resume-card h2{
    font-size: 25px;
    font-weight: 600;
    color: #474747;
}
.resume-card h3{
    font-size: 20px;
    font-weight: 500;
    color: #757575;
    margin: 10px 0 20px;
}
.resume-card p{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}
hr{
    margin: 30px 0;
    color: #D1D1D1;
}
.resume-btn{
    text-align: center;
    margin: 50px 0 240px;
}

/* Footer container */
footer{
    padding: 0 0 130px 0;
    background-color: #fd6f0a0e;
}
footer .footer-contain{
    display: flex;
    gap: 117px;
    width: 83%;
    max-width: 1140px;
    margin: 0 auto;
     
     
}
footer .footer-contain .social{
    max-width: 562px;
}
footer .footer-contain .social p{
   font-size: 16px;
   line-height: 28px;
   color: #474747;
   margin: 20px 0 30px;
}
footer .footer-contain .social h2{
   font-size: 35px;
   color: #181818;
    
}
footer .footer-contain .social .social-icon .icon{
    margin-right: 24px;
}
.contact h2{
    font-size: 35px;
    color: #181818;
    font-weight: 700;
}
   form  [type="text"], [type="email"], textarea{
    width: 461px;
    padding: 18px 31px ;
    margin: 24px 0;
    border-radius: 5px;
    border: none;
}
.fbtn{
    font-size:25px;
    font-weight: 500;
    
}
/* Media Quary */
@media screen and (max-width: 576px) {
  .flex {
    flex-direction: column;
  }
  .container {
    width: 100%;
  }
#hero{
  margin-top: 50px;
  padding: 0 30px;
}
  .list-item {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: center;
  }
  .btn3{
    margin-top: 20px;
  }
#about,#skill{
    margin: 40px 10px;
}
#about .about-container .about-info {
  width: 100%;
  flex-direction: column;
}
.about-container , .skill-container{
    width: 100%;
    margin: 0 auto;
}
#skill .skill-container{
  padding: 0 30px;
}
#skill .skill-text{
  width: 100%;
}
.skill-items{
  width: 70%;
}

/*Resume*/
.resume-head{
    margin:  30px 10px ;
}

.resume-container{
    flex-direction: column;
    padding: 0 20px;
}
.resume-btn{
    text-align: center;
    margin: 50px;
}
/* footer */
footer{
    /* padding:10px; */
    margin-top: 100px;
    width: 100%;
}
footer .footer-contain{
    flex-direction: column-reverse;
    padding: 10px 20px  ;
    margin-left: 50px;
    width: 100%;
    
     
     
}



} 
